/*
Color coding 

            4DA1A9: Cadet Blue
            611C35: Old mauve
            D7E8BA: Tea Green
            FFA630: Yellow Orange
            2E5077: Mn Blue
*/



body{
    font-family: 'Roboto', sans-serif;
}