/*
Color coding 

            4DA1A9: Cadet Blue
            611C35: Old mauve
            D7E8BA: Tea Green
            FFA630: Yellow Orange
            2E5077: Mn Blue
*/

html,
body {
    height: 100%;
}

@font-face {
    font-family: "OriginalSurfer";
    src: url(../css/Fonts/Original_Surfer/OriginalSurfer-Regular.ttf);
}

@font-face {
    font-family: "CodaCaption";
    src: url(../css/Fonts/Coda_Caption/CodaCaption-ExtraBold.ttf);
}

body {
    font-family: 'CodeCaption';
    color: #0dc8da;
}

h3 {
    text-transform: uppercase;
}


/*
Buttons Generic
*/

.btn-general {
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: white;
}

.btn-white:hover,
.btn-white:focus {
    background-color: white;
    color: #2E5077;
}


/*
Home Section
*/

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url(../img/bg-home.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home-heading h3 {
    color: aliceblue;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

#home-btn {
    font-family: "OriginalSurfer";
}